@import "tailwindcss";

@theme {
  --color-studio-white: #fdfdfd;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
  }
}

/* Custom UI Polish */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button:active {
  transform: scale(0.96);
}